.card-info-pane {
    @media (max-width: 1400px) {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.25em;
        padding-top: 5px;
        position: sticky;
        img {
            max-width: calc(100% - 2em);
        }
    }
    img {
        border-radius: 5px;
    }
}
