.card-info-pane {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.25em;
    padding-top: 5px;

    position: sticky;

    img {
        max-width: calc(100% - 2em);
        border-radius: 5px;
    }
}
