$card-border-radius: 5px;
$card-border-color: green;

$card-width: 12em;
$card-margin: 1em;

@font-face {
    font-family: 'trajan-pro';
    src: url('./trajan-pro-regular.ttf');
}

.cards-list {
    position: relative;
    display: inline-block;
    max-width: (($card-margin * 2) + $card-width) * 5;

    .card {
        display: inline-block;

        background-color: #fff;
        color: #444;
        cursor: pointer;
        border-radius: $card-border-radius;

        font-family: 'trajan-pro';

        position: relative;

        width: $card-width;
        min-height: $card-margin;

        margin: 0.25em;
        padding: 0px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: #ccc;
            left: 20px;
            right: 20px;
            bottom: 0;
            top: 50%;
            z-index: -1;
            box-shadow: 0 0 40px lighten(#000, 60%);
            transition: box-shadow 0.2s ease-in-out;
        }

        &.float {
            &:hover {
                &:before {
                    box-shadow: 0 0 80px lighten(#000, 40%);
                }
            }
        }

        img {
            max-width: 100%;
            margin-bottom: -5px;
            border-bottom-left-radius: $card-border-radius;
            border-bottom-right-radius: $card-border-radius;
        }

        .info-block {
            padding: 5px;
            text-align: center;

            > .info-value {
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .status {
            > * {
                background-color: $card-border-color;

                position: absolute;
                bottom: 0;
                right: 10px;

                color: white;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

            border: $card-border-color 3px solid;
            border-radius: $card-border-radius;

            display: block;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}
