$card-border-radius: 5px;
$card-border-color: green;

.cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        background-color: #fff;
        color: #444;
        cursor: pointer;
        border-radius: $card-border-radius;

        position: relative;

        width: 12em;
        min-height: 12em;

        margin: 1em;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: #ccc;
            left: 20px;
            right: 20px;
            bottom: 0;
            top: 50%;
            z-index: -1;
            box-shadow: 0 0 40px lighten(#000, 60%);
            transition: box-shadow 0.2s ease-in-out;
        }

        &.float {
            &:hover {
                &:before {
                    box-shadow: 0 0 80px lighten(#000, 40%);
                }
            }
        }

        img {
            max-width: 100%;
        }

        .info-block {
            padding: 0.5em;
        }

        .status {
            > * {
                background-color: $card-border-color;

                position: absolute;
                bottom: 0;
                right: 10px;

                color: white;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

            border: $card-border-color 3px solid;
            border-radius: $card-border-radius;

            display: block;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}
