@media (min-width: 1400px) {
    .row {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        flex-direction: row;
        width: 80%;
        margin: auto;
        height: 100%;

        .cards-list.col {
            display: flex;
            align-items: flex-start;
            width: 70%;
            flex-wrap: wrap;
            .card {
                width: 19%;
            }
        }
        .card-info-pane.col {
            min-height: 0;
            margin-top: 0.25em;
            max-width: 29%;
            img {
                margin-left: auto;
                margin-right: auto;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}
