.randomizer {
    .toolbar {
        > * {
            margin: 1em;
        }
    }

    .container {
        .card-info-pane {
            width: 30%;
        }

        .cards-list {
            width: 70%;
        }
    }
}
