@import './theme';

.randomizer {
    .toolbar {
        > * {
            margin: 1em;
            height: 1.5em;
        }

        position: sticky;
        top: 0;

        z-index: 2;
        background-color: $background-color;
    }

    .container {
        .card-info-pane {
            width: 30%;
        }

        .cards-list {
            width: 70%;
        }
    }
}
